#category {
    display: flex;
}

.news-img {
    height: 4em;
    width: 4em;
}

.img-container {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width:688px) {
    #category {
        display: inline-block;
    }

}